
<form action="/<%= self.lookup_context.prefixes.first %>" method="get">
  <label for="search_term">Search: </label>
  <input type="text" name="search_term">
  <button type="submit">Go</button>
</form>
